/* top bar code*/
#top-bar {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    padding-left: 30px;
    background-color: #fa6938;
}

.title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 10px;
    padding: 0 10px;
    color: white;
    text-shadow: 1px 1px grey;
    background: rgba(0,0,0,0.2);
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 1.60;
}

a {
    text-decoration: none;
    color: black;
}

.offers {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.4em;
    line-height: 1.45;
    letter-spacing: 1.5px;
    margin: 10px;
    color: white;
    text-shadow: 1px 1px grey;
}

/*logo and navigation section*/
nav {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    font-size: 2em;
    font-family:'Yanone Kaffeesatz', sans-serif;
    font-weight: 100;
    color: #303030;
     margin: 10px;
}

input {
    border: none;
}

#cart-button {
    position: relative;
    display: inline-block;
    height: 36px;
    padding: 0;
    border: 1px solid #e0e0e0;
    color: #606060;
    line-height: 34px;
    border-radius: 3px;
}

#search {
    position: relative;
    display: inline-block;
    height: 36px;
    padding: 0 6px;
    border: 1px solid #e0e0e0;
    color: lightgrey;
    border-radius: 3px; 
}

/*ties lineup*/ 

.tie-block {
    margin: 0 auto;
    background: #f4f4f4;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.4)
    box-border: none;
}

.spread {
   display: inline-block;
   position: relative;
}

.ties {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    list-style-type: none;
}

.tie .title1 {
    margin: 5px -5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}

h2 {
    font-size: 4em;
    font-family:'Yanone Kaffeesatz', sans-serif;
    font-weight: normal;
    text-align: center;
    color: #303030;
    padding: 20px;
}
